<h1>Nouveau articles à partir d'un lien RSS uniquement (FranceInfo)</h1>

<%= simple_form_for @article do |f| %>
  <%= f.input :rss_feed_link, placeholder: "write here the rss feed link" %>
  <%= f.button :submit, "Créer des articles", class:"btn btn-info" %>
<% end %>
